<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href='<%= bookmark.url %>'>
        <%= bookmark.title %>
      </a>
      <form method='post' action="/bookmarks/<%= bookmark.id %>">
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="id" value="<%= bookmark.id %>">
        <input type="submit" value="delete" / class="delete">
      </form>   
      </li>
  <% end %>
</ul>